<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-lg">API</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar">
    <section class="sidebar  main-menu-container bs-docs-sidebar">
        <ul id="menu" class="sidebar-menu">
            <li class="header">Endpoints</li>
        </ul>
        <div class="title-menu">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Awesome API</a>
                    <div class="btn-group pull-right">
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<div class="content-wrapper body-content page"></div>

<footer class="main-footer">
    <hr/>
    <p class="text-center muted">Copyright &copy; 2016</p>
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.0
    </div>
</footer>
